<div class="container">
  <h1 class="mt-5 mb-4">New Todo</h1>
  <%= render "form", todo: @todo %>

  <div class="mt-3">
    <%= link_to "Back to Todos", todos_path, class: "btn btn-secondary" %>
  </div>
</div>
